<h1>Calculate monthly payment</h1>

<form action="/payment/results">
  <div>
    <label for="monkey">APR</label>

    <input id="monkey" type="text" name="user_apr">
  </div>
  <div>
   <label for="turtle">Number of years</label>

   <input id="turtle" type="text" name="user_years">
  </div>
  <div>
   <label for="gorilla">Principal</label>

   <input id="gorilla" type="text" name="user_pv">
  </div>
  <div>
   <button>Calculate monthly payment</button>
   </div>
</form>
