<h1>Payment Results</h1>

<div>APR</div>
<div>
  <%= @the_apr %>
</div>
<div>Number of years</div>
<div>
  <%= @number_of_years %>
</div>
<div>Principal</div>
<div>
  <%= @the_pv %>
</div>
<div>Payment</div>
<div>
  <%= @monthly_payment.to_f.to_fs(:currency) %>
</div>

<br>

<a href="/payment/new">
  Calculate another payment
</a>
