<h1>Random Results</h1>

<div>Minimum</div>
<div> 
  <%= @the_min %> 
</div>
<div>Maximum</div>
<div>
  <%= @the_max %>
</div>
<div>Random Number</div>
<div>
  <%= @the_random_num %>
</div>

<br>

<a href="/random/new">
  Pick another random number
</a>
