<h1>Generate random number</h1>

<form action="/random/results">
  <div>
    <label for="unicorn">Minimum</label>
    <input id="unicorn" type="text" name="user_min">
  </div>
  <div>
   <label for="pegasus">Maximum</label>
   <input id="pegasus" type="text" name="user_max">
  </div>
  <button>Pick random number</button>
</form>
