<h1>Square Root Results</h1>

<div>Number</div>
<div>
<%= @the_num %>
</div>
<div>Square Root</div>
<div>
<%= @the_square_root %>
</div>

<br>

<a href="/square_root/new">
  Calculate another square root
</a>
