<h1>Calculate the square of a number</h1>

<form action="/square/results">
  <div>
    <label for="giraffe">Enter a number</label>
  </div>
  <div>
    <input id="giraffe" type="text" name="users_number">
  </div>
  <div>
    <button>Calculate square</button>
  </div>
</form>
