<h1>Calculate the square root of a number</h1>

<form action="/square_root/results">
  <div>
    <label for="elephant">Enter a number</label>
    <input id="elephant" type="text" name="users_number">
  </div>
  <div>
    <button>Calculate square root</button>
  </div>
</form>
